ion-toolbar{
    --background: #434E84;
    --color:#fff;
}
.price-details-class{
 border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    padding: 20px;
    .price-label1{
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          small {
            font-size: 16px;
          }
    }
   ion-label {
     font-size: 16px;
   }
   .total-wrap {
     font-size: 20px;
   }
}

.footer{
    position: -webkit-sticky;
     position: sticky;
     position: fixed;
    bottom: 0;
    background:#fff; 
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 2px 3px 9px 2px #adadad;
    align-items: center;
  }

  .billing-address-class{
    display: flex;
    justify-content: space-between;
    background: #e7d8d8;
    padding: 10px 20px;
  }
  .billing-address-class {
    align-items: center;
    a {
      font-size: 14px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      text-transform: capitalize;
    }
  }
  .items-class ion-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px;
  }
 .items-class ion-label {
    p {
      color: #000;
      font-size: 16px;
      line-height: 2;
    }
    .plus-min-class {
      font-size: 18px;
    }
  }