ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
.price-details-class{
    box-shadow: 0px 4px 13px 1px black;
    margin: 29px 10px 102px 10px;
    padding: 20px;
    // padding-left: 20px;
    // padding-right: 20px;
    padding: 20px;
    .price-label1{
          display: flex;
          justify-content: space-between;
          padding: 10px 10px 2px 1px;
    }
   
}
// .place-btn-class{
   
// }
.footer{
    position: -webkit-sticky;
     position: sticky;
     position: fixed;
    bottom: 0;
    background:#fff; 
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    margin-top: 20px;
    // border: 1px solid black;
    padding: 20px;
    box-shadow: 2px 3px 9px 2px #adadad;
  }

  .billing-address-class{
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    background: #e7d8d8;
    margin: 10px 10px 0px 10px;
    /* text-align: center; */
    padding: 10px;
  }