.product_img{
    flex: auto;
    text-align: center;
    
  }
  .pro_name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .top-slider {
    display: flex;
    overflow-x: scroll;
    // background-color: #05151b;
  }
  ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
ion-back-button {
  color: #fff;
}
ion-card {
  padding: 20px 10px;
    text-align: center;
}