<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-btn">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
    <ion-col *ngFor="let pro_item of allProductsData;" size="6">
       
    <ion-card (click)="openProducts(pro_item.id)">
    <div class= "product_img" *ngIf="pro_item.images[0] !=null">
      <img width="80" height="80" src={{pro_item.images[0].src}}/>
    </div> 
      <ion-card-content>
        <p class="pro_name">{{pro_item.name}}</p>
        <strong><small [innerHTML]="pro_item.price_html"></small></strong>
      </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
