.product_img{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px; 
}

.btn_cart{

    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width:100%;
    .btn-cart{
        width:100%
    }
    .btn-buy{
        width:100%
    }
}
.slecter_class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    span {
        padding-right: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    }
    ion-select {
        padding: 6px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    border: 1px solid #ddd;
    width: 100%;
    }
}
.quntity-class{
    padding-left:20px;
  .plus-min-class{
      padding-left:10px;
  }
}
ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
.header-main{
    display: flex;
    align-items: center;
}
ion-title{
    font-size: 14px;
    width: 200px;
    padding: 0 10px; 
}
.main-price{
    margin-left: 20px;
    margin-top: 15px;
}
ion-badge{
    border-radius: 50px;
    right: 13px;
    position: absolute;
}
.product_img{
    max-width: 294px;
    max-height: 322px;
    margin: 10px auto;
}

.pro_desc { 
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 30px;
    letter-spacing: 0.5px;
    margin-top: 0 ;
}

::ng-deep .pro_desc p {
    margin-bottom: 0;
    margin-top: 0;
    margin: 10px;
    letter-spacing: 1px;
}
.main-price {
    margin-left: 20px;
    margin-top: 15px;
    strong {
        display: block;
        text-align: center;
        label {
            padding-right: 15px;
        }
    }
}

.relative-pro-body{
    margin-bottom: 50px;
    h4 {
        padding-left: 15px;
    }
    .top-slider {
        display: flex;
        overflow-x: scroll;
        background-color: #fff;
        .pro_name{
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .card2-body{
            width:150px;
            height: 200px;
        }
      }
}
.upselling-pro-body{
    padding-left: 20px;
  
    .top-slider {
        display: flex;
        overflow-x: scroll;
        background-color: #fff;
        .pro_name{
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .card2-body{
            width:150px;
            height: 200px;
        }
      }
}
.product_img2{
    text-align: center;
    height:130px;
    padding: 10px;
}
.card2-body {
    text-align: center;
}