<!-- <ion-split-pane contentId="main-content"> -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list-header>
        <div class="header-nav">
     
            <ion-label><img src="../assets/rstoo-logo-1.png"
              style="max-width: 80px;" /></ion-label>
          
        </div>
      </ion-list-header>
      <ion-list id="inbox-list">
    
     
        <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      
      </ion-list>
      <ion-item lines="none">
        <ion-icon slot="start" name="log-out" (click)="logout()"></ion-icon>
        <ion-label (click)="logout()">LogOut</ion-label>
    </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
<!-- </ion-split-pane> -->

<ion-tabs class="tabs_background">
  <ion-tab-bar slot="bottom" class="tab_bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Seacrh</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
