ion-toolbar{
    --background: #434E84;
    --color:#fff;
}
.main-body{
    padding:10px;
}
.privacy-policy_wrap {
    max-width: 350px;
    padding: 20px 10px;
    width: 100%;
    margin: 0 auto;
}
p, ul li {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
    font-family: "Archivo";
}
ul {
    text-decoration: none;
    list-style-type: circle;
    padding-left: 0;
}
ul li {
    padding-bottom: 5px;
}
h2 {
    margin: 0;
    font-weight: 500;
    font-family: "Archivo";
}
ion-button {
    text-transform: uppercase;
    --background-color: #434E84;
}
button {
    background: #434E84;
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: 100%;
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}