<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="start" class="back-btn">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-body">
<h4>Privacy Policy</h4>
<p>When ordering from RASTOO we require specific information to fulfil your order. You can find out what personal data we collect, how we use it, how we protect it, disclosure information and how to access and update it in our privacy policy.</p>
<ul>
  <li>We do not share your personal information with any other organisations or individuals. </li>
  <li>We keep all information you provide completely confidential, regardless of how or why you provide it.</li>
  <li>Only RASTOO employees and contractors with relevant business duties may access personal information to carry out orders and customer service successfully. It is strictly prohibited to use your personal information for any other use. </li>
<li>No personal information will be provided to any third party, unless we are required to do so by law.</li>
<li>By using any of the forms on our website, you agree to be bound by our privacy policy and legal disclaimer. </li>
<li>By using any of the forms on our website you agree to have your email address added to our mailing list. </li>
<li>You may receive occasional promotional emails and newsletters from us. If you do not wish to receive these you can let us know by contacting us. All emails sent will give you the option to unsubscribe. </li>
<li>We take all reasonable precautions to protect any personal data that our users may input via this website. We cannot, however, be responsible for loss or misuse of personal data which is intercepted or otherwise accessed by unauthorised persons. We therefore exclude all liability for this. </li>
<li>We are committed to complying with EU and U.K. data protection laws to the extent that they apply to our use of personal information. </li>
<li>You have the right to ask us for a copy of your personal data and have the right to amend or delete the data.</li>
</ul>
<h4>Cookies and Tracking </h4>
<p>In order to improve the overall experience of visiting our website, we use a server-based log to collect anonymous information about our website visitors. This data is only used to generate statistical charts and will not be used in any other way.  </p>
<h4>Use of Cookies on our website </h4>
<p>By using this site, you have given us consent to use cookies. Cookies are small text files that are stored on your computer when you visit a website. They are mainly used as a way of improving the website functionalities or to provide more advanced statistical data. </p>
<h4>Google Analytics</h4>
<p>Our website uses Google Analytics which relies on cookies to generate more advanced visitor charts and data mining reports. Similarly to our server-based logs, Google Analytics collects anonymous information that will not be used to identify our website visitors. </p>
<h4>Login System</h4>
<p>Our website contains password protected area(s) that require user-login. This login offers to remember the user email address if the relevant box is ticked. Ticking the box will create a cookie that will automatically expire after 1 year or if the box is un-ticked on a subsequent visit.</p>
<ion-button [routerLink]="['/tabs/shop']">Go to Store</ion-button>
</div>
</ion-content>
