ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
.main-body{
    padding:10px;
}
.privacy-policy_wrap {
    max-width: 350px;
    padding: 20px 10px;
    width: 100%;
    margin: 0 auto;
}
p, ul li {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
}
ul {
    text-decoration: none;
    list-style-type: circle;
    padding-left: 0;
}
ul li {
    padding-bottom: 5px;
}
h2 {
    margin: 0;
}
ion-button {
    text-transform: uppercase;
}