ion-toolbar{
    --background: #434E84;
    --color:#fff;
}
ion-content{
    --background: #e8eaeb;
    // ion-list{
    //     margin: 10px;
    // }
}
.item-disp-class{
    display: flex;
    // justify-content: space-evenly;
}
::ng-deep item-inner {
    border-bottom: none;
}
.cancelled_clss{
    text-align:center;
    color:red;
    font-weight: bold;
}

::ng-deep .item-inner {
    border-color: none !important;
}
.cancelled_clss p {
    padding: 10px;
    background-color: #fff;
    line-height: 2;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
::ng-deep ion-content ion-list {
    padding: 10px;
}