ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
ion-content{
    --background: #e8eaeb;
    ion-list{
        margin: 10px;
    }
}
.item-disp-class{
    display: flex;
    // justify-content: space-evenly;
}
::ng-deep item-inner {
    border-bottom: none;
}