ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}
.continue-btn-div {
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    margin: 20px;
    text-align: center;
    border: 1px solid #ddd;
    position: relative;
    top: 8%;
    /* transform: translateY(-50%); */
}
p {
    font-weight: 600;
}
.order {
    padding-bottom: 15px;
}
ion-button {
    margin: 0 auto 20px;
}