form {
    margin: 20px;
    padding: 10px;
    textarea {
        border: none;
        width: 100%;
    }
    ion-button {
        display: block;
    }
}

ion-item {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
}
ion-select {
    width: 100%;
}
form textarea {
    outline: none;
    border: none;
    border: none;
    padding: 10px 0 0;
    line-height: 1;
}