form {
    margin: 30px 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background-color: #fff !important;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
}
.logo-img {
    width: 100px;
    margin: 0 auto;
}
label {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #705a5a;
}
ion-title.md.title-default.hydrated {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}
ion-row {
    ion-col {
        padding: 0;
    }
}
.cta {
    text-align: center;
    margin: 15px 0;
    button {
        font-size: 14px;
        border-radius: 25px;
        font-weight: 700;
    }
   
}
::ng-deep small {
    padding-bottom: 30px;
}

div.ion-header {
    background-color: #05151b;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
    }
    button {
        color: #fff;
        background-color: #fff;
    }   
}
::ng-deep span.button-inner {
    color: #fff !important;
}
div.ion-content {
    background-color: #002C42;
}
::ng-deep .ion-page {
    display: block !important;
}

.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    ion-title{
        color:#fff;
    }
    ion-back-button{
        color:#fff;
    }
}