ion-toolbar{
    --background: #2874f0;
    --color:#fff;
}

ion-card-content{
    text-align: center;
    // .product_img{
    //     margin-left: 24px;
    // }
  }
  .product_img {
    width: 100px;
    margin: 10px auto;
    img {
        width: 100%;
        display: block;
    }
}