ion-toolbar{
  height: 84px;
    --background: #434E84;
    ion-searchbar{
      margin-top: 18px;
    }
}
// .product_img{
//     flex: auto;
//     text-align: center;
    
//   }
ion-label{
  margin-left: 16px;
}
  .pro_name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    margin-top: 30px;
    margin-bottom: 30px;
}
ion-list {
  margin: 10px;
  ion-item {
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
    margin: 10px;
  }
  item-native {
    padding-left: 0;
  }
}