<ion-header>
 <ion-toolbar>
  <ion-buttons slot="start" class="back-btn">
    <ion-back-button defaultHref="/tabs/home"></ion-back-button>
  </ion-buttons>
  <ion-title>Add Your Address</ion-title>
 </ion-toolbar>
 
  <!-- </ion-navbar> -->
</ion-header>

<ion-content padding>
 
  <form [formGroup]="ionicForm" (ngSubmit)="getShippingDetails()">
    <ion-list>
      <ion-item class="newitem2">
        <ion-input placeholder="First Name" type="text" [value]="first_name?first_name:''" formControlName="first_name"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="Last Name" type="text" [value]="last_name?last_name:''" formControlName="last_name"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="Mobile Number" type="text" [value]="shipp_mob?shipp_mob:''" formControlName="phone"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="Email" type="email" [value]="shipp_email?shipp_email:''" formControlName="email"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="Country" type="text" [value]="shipp_country?shipp_country:''" formControlName="country"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="State" type="text" [value]="shipp_state?shipp_state:''" formControlName="state"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-input placeholder="city" type="text" [value]="shipp_city?shipp_city:''" formControlName="city"
          required></ion-input>
      </ion-item>
    
      <ion-item class="newitem2">
        <ion-input placeholder="Pincode" type="text" [value]="shipp_code?shipp_code:''" formControlName="postcode"
          required></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <textarea placeholder="Address" [value]="shipp_address" formControlName="address_1"
          required></textarea>
      </ion-item>
      <div>
        <ion-button type="submit" class="newbtn11" color="primary" block>Submit</ion-button>
      </div>
    </ion-list>
  </form>

    <!-- <ion-item class="newitem2">
        <ion-input placeholder="Country" type="text" value="India" disabled></ion-input>
      </ion-item>
      <ion-item class="newitem2">
        <ion-select placeholder="Select State" [value]="userData.shipp_state" formControlName="shipp_state"
          required (ionChange)="onChange(userData.shipp_state)">
          <ion-option *ngFor="let pstate of this.statesdetails" >{{pstate.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="newitem2">
        <ion-select placeholder="Select City" [value]="userData.shipp_city" formControlName="shipp_city" required>
          <ion-option *ngFor="let pcity of this.citiesdetails" value="{{pcity.city_id}}">{{pcity.city_name}}</ion-option>
        </ion-select>
      </ion-item> -->
</ion-content>