.title-class{
    background: #2874f0;
    color:#fff;
    height: 101px;
    position: relative;
}

.person-clss{
    height: 100px;
    width: 100px;
    margin-top: 6px;
    margin-left: 18px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    ion-icon.md.hydrated {
        margin-top: 30px;
        color:#2874f0;
    }
   
}
ion-title{
    text-align: center;
    margin-top: -10px;
}
.user-email-info{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding: 20px;
    ion-icon {
        font-size: 25px;
      }
}
