ion-toolbar{
    --background: #434E84;
    --color:#fff;
}
form {
    padding: 20px;
    margin: 40px 15px;
    box-shadow: var(--box-shadow4);
    border: 1px solid var(--gray);
}
ion-button {
    margin: 30px 0;
}
ion-icon {
    font-size: 20px;
    color: var(--black);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
.form-wrap  {
    width: 150px;
    margin: 0 auto 20px;
    img {
   width: 100%;
 
    }
}
.err-no-match{
    // display:none;
    color:red;
}

// input {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid var(--gray);
//     margin: 10px 0;
// }
// label {
//     font-size: 16px;
//     font-weight: 600;
//     letter-spacing: 3px;
//     // color: var(--black);
// }

// .cta {
//     text-align: center;
//     button {
//         background-color: var(--blue);
//         padding: 13px 40px;
//         color: var(--white);
//         font-size: var(--small);
//         border-radius: 25px;
//         font-weight: 700;
//         &:hover {
//             box-shadow: var(--box-shadow2);
//         }
//     }
   
// }

form {
padding: 10px 30px;
// box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
}
form input {
    border: 1px solid #ddd;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
form label {
    text-transform: capitalize;
    font-size: 14px;
    color: #4c4545;
}
form p {
    margin-bottom: 10px;
}